* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: "Helvetica", "Arial", sans-serif;
}

header {
    background: url("../img/sign-up-left-image.jpg") no-repeat center center;
    background-size: cover;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.7);
}

main {
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
}

.text-container {
    height: 40%;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 10rem 0 2rem;
}

.primary-text, .secondary-text {
    font-size: 1.3rem;
    font-weight: 700;
}

.secondary-text {
    padding-top: 1rem;
}

.form-container {
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    box-shadow: 0 5px 3px #EBECED;
}

.form-text {
    font-size: 1.3rem;
    font-weight: 700;
    flex: 100%;
    padding-bottom: 1rem;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 50%;
    margin-bottom: 1rem;
}

.form-row input {
    width: 70%;
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    padding: 7px;
}

input:focus{
    outline: none;
    border: 2px solid #C26868;
}


.cta-container {
    padding: 2rem 2rem;
}

button{
    background-color: #C26868;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.2rem;
    border: 2px solid #C26868;
    border-radius: 5px;
    padding: 10px 40px;
    margin-bottom: 2rem;
}

button:hover{
    background-color: #f29999;
    border: 2px solid #f29999
}

.account-check {
    display: flex;
    gap: 0.5rem;
}

a {
    text-decoration: none;
    color: #C26868;
    font-weight: 700;
}


@media only screen and (max-width: 800px) {
    body {
        flex-direction: column;
    }
    header {
        background-image: none;
        width: 100%;
    }
    .logo-container {
        margin: 0;
    }
    .text-container {
        margin-bottom: 1rem;
    }
    .form-container {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
    }
    .form-row input {
        width: 100%;

    }
    .form-container {
        padding: 2rem 5rem 2rem 2rem;
    }
}